PORT=3001

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:3001/api/timetable/google/callback

TIMETABLE_FRONTEND_URL=http://localhost:3000

CALENDAR_NAME=EVEN SEM 2025-26
SEMESTER_START_DATE=2026-01-05